body{
	font:normal 12px/1.5  \5fae\8f6f\96c5\9ed1, Verdana, Arial, \5b8b\4f53, sans-serif;
	color: #4D4D4D;
	position: relative;
}
/**
 * 常用
**/
.fn-mr-20 {
	margin-right: 20px;
}
.fn-ml-20 {
	margin-left: 20px;
}
.fn-high {
	color: red;
}
.fn-right {
	float: right;
}
.fn-left {
	float: left;
}
/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}
.fn-center {
	text-align: center!important;
}
.fn-text-right {
	text-align: right!important;
}
.fn-text-left {
	text-align: left!important;
}
.fn-hide {
	display: none;
}
.fn-va-top {
	vertical-align: top;
}
.fn-pd-10 {
	padding: 10px;
}
.fn-loading {
	background: url(img/loading.gif) no-repeat;
	line-height: 35px;
	padding-left: 35px;
}
.fn-mr0 {
	margin-right: 0;
}
/**
 * 超过宽度截取以省略号结尾，需要定义宽度
**/
.fn-ellip {
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.ui-input {
	padding: 6px 9px;
	line-height: 18px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
}
.ui-input:hover {
	border: 1px solid #BBBBBB;
}
.ui-input:focus {
	border-radius: 0;
}
.fn-w-190 {
	width: 190px;
}
.fn-border-des-red {
	border-left: 5px solid #D45327;
	padding-left: 10px;
	font-size: 16px;
	display: inline-block;
}
.ui-textarea {
	resize: none;
	width: 547px;
	*width: 543px;
	height: 40px;
	border: 1px solid #c1c1c1!important;
	padding: 5px 10px;
	color: #595959;
}
.ui-textarea:focus {
	border: 1px solid #07f!important;
	box-shadow: 0 0 3px #8cddff;
	color: #595959;
}
.combo {
	border: 1px solid #c1c1c1!important;
}
.fn-disp-inline {
	display: inline;
}
.fn-right-arrow {
	background: url(img/kfzindex.png) no-repeat -24px -456px;
	width: 5px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
a {
	color: #04AED9;
}
.textbox {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: 132px!important;
	height: 30px!important;
	line-height: 30px!important;
}
.fn-gray {
	color: #ABABAB;
}
.fn-ver-md {
	vertical-align: middle;
}
.fn-images-preview {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.search_wrap .formSearch {
	border: 1px solid #ddd;
	margin-bottom: 30px;
	padding: 15px 10px;
}
.search_wrap .formSearch .search_table {

}
.search_wrap .formSearch .search_table tr td {
	height: 40px;
	line-height: 40px;
	padding: 5px 0;
}
.search_wrap .formSearch .search_table tr td .ui-button {
	margin-top: 10px;
}
/**
 * 按钮样式
**/
.ui-button {
	height: 30px; 
	width: auto!important;
	width: 60px;
	min-width: 60px;
	line-height: 30px;
}
.ui-button i {
	cursor: pointer;
}
.ui-button-normal {
	color: #fff;
	border: 2px solid #E3E3E8;
	background-color: #fff;
	width: auto!important;
	width: 40px;
	min-width: 40px;
	height: 27px;
	line-height: 27px;
}
.ui-button-normal span, .ui-button-normal i {
	color: #70B2E0;
}
.ui-button:active {
	position: relative;
	top: 1px;
	box-shadow: none;
}

.ui-button-blue {
	color: #fff;
	border: 1px solid #3F6A8D;
	background-color: #3F6A8D;
}
.ui-button-blue:hover {
	border: 1px solid #565FBD;
	background-color: #565FBD;
}
.ui-button-blue:active {
	border: 1px solid #3B4289;
	background-color: #3B4289;
	box-shadow: 1px 1px 3px #3B4289 inset;
}

.ui-button-green {
	color: #fff;
	border: 1px solid #44B549;
	background-color: #44B549;
}
.ui-button-green:hover {
	border: 1px solid #68BD50;
	background-color: #68BD50;
}
.ui-button-green:active {
	border: 1px solid #3BCB0A;
	background-color: #3BCB0A;
	box-shadow: 1px 1px 3px #3BCB0A inset;
}

.ui-button-red {
	color: #fff;
	border: 1px solid #F66C6A;
	background-color: #F66C6A;
}
.ui-button-red:hover {
	border: 1px solid #FF9694;
	background-color: #FF9694;
}
.ui-button-red:active {
	border: 1px solid #DB5A58;
	background-color: #DB5A58;
	box-shadow: 1px 1px 3px #DB5A58 inset;
}

.ui-button-gray {
	color: #fff;
	border: 1px solid #DED8CC;
	background-color: #DED8CC;
}
.ui-button-gray:hover {
	border: 1px solid #F7F7F7;
	background-color: #F7F7F7;
	color: #59A9D1;
}
.ui-button-gray:active {
	border: 1px solid #C9C2B1;
	background-color: #C9C2B1;
	box-shadow: 1px 1px 3px #C9C2B1 inset;
}
.ui-button-disable {
	color: #fff;
	border: 1px solid #C9C2B1;
	background-color: #C9C2B1;
	cursor: default;
}
.ui-button-disable:active {
	border: 1px solid #C9C2B1;
	background-color: #C9C2B1;
	position: static;
	top: 0;
	box-shadow: none;
}

.ui-button-orange {
	color: #fff;
	border: 1px solid #F67823;
	background-color: #F67823;
}
.ui-button-orange:hover {
	border: 1px solid #FF7E27;
	background-color: #FF7E27;
}
.ui-button-orange:active {
	border: 1px solid #ED7524;
	background-color: #ED7524;
	box-shadow: 1px 1px 3px #DB5A58 inset;
}

a.ui-button-blue,
a.ui-button-blue:hover,
a.ui-button-blue:active,
a.ui-button-green,
a.ui-button-green:hover,
a.ui-button-green:active,
a.ui-button-red,
a.ui-button-red:hover,
a.ui-button-red:active,
a.ui-button-gray,
a.ui-button-gray:active,
a.ui-button-orange,
a.ui-button-orange:active,
a.ui-button-disable {
    color:#fff;
}

.ui-button-round {
	background: none;
	border-color: #D5D5D5;
	border-radius: 20px;
}

/**
 * 分页table
**/
.data-table {
	/**padding-bottom: 20px;*/
}
.data-table table tr th {
	padding: 10px 9px;
	text-align: center;
}
.data-table table tr td {
	text-align: center;
}
.data-table table tr td a {
	color: #08c;
	padding: 0 3px;
}
.data-table .dataTbl-first {
	text-align: right;
}
.data-table .dataTbl-first .ui-checkbox {
	vertical-align: middle;
	margin-left: 5px;
}
.dataTbl-bottom {
	margin: 20px 0 20px 190px;
}
.dataTbl-bottom .paginationTools .ui-input {
	padding: 3px;
	height: 16px;
	line-height: 15px;
	width: 30px;
	vertical-align: top;
}
.dataTbl-bottom .paginationTools .ui-button {
	width: auto!important;
	width: 20px;
	min-width: 20px;
	height: 22px;
	line-height: 20px;
	padding: 1px 10px;
	position: relative;
	top: -1px;
	*top: 0px;
	border: 1px solid #E3E3E8;
}
.dataTbl-bottom .paginationTools .des {
	color: #8E8E8E;
}
.dataTbl-bottom .pagination {
    font-size:12px;
}
.dataTbl-bottom .pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}
.dataTbl-bottom .pagination a, .dataTbl-bottom .pagination span {
    display: block;
    float: left;
    padding: 2px 8px;
    margin-right: 5px;
	margin-bottom: 5px;
}
.dataTbl-bottom .pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}
.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

/**
 * 重设分页table样式
**/
.data-table table thead tr th {
	background: #D4D4D4;
	color: #63686E;
	padding: 6px 9px;
	font-family: sans-serif;
}
.data-table table tbody tr, .data-table table tbody tr:nth-child(even) {
	background: #fff;
}
.data-table table tbody tr td {
	padding: 12px 9px 12px;
	color: #000;
	word-wrap:break-word;
	word-break: break-all;
}
.dataTbl-bottom .pagination a {
	background: #fff;
}

/**
 * 滚动条美化
**/
.zui-tinyscroll { }
.zui-tinyscroll .viewport { width: 620px; height: 312px; overflow: hidden; position: relative; }
.zui-tinyscroll .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.zui-tinyscroll .scrollbar{ position: relative; right: -10px; float: right; width: 15px; }
.zui-tinyscroll .track { background-color: #F1F1F1; height: 100%; width:5px; position: relative;}
.zui-tinyscroll .thumb { background:#BCBCBC; height: 20px; width:5px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0; }
.zui-tinyscroll .disable { display: none; }

/**
 * checkbox
**/
.zui_check {
	background: url(img/fenbao.png) 0 -42px no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.zui_check.checked {
	background-position: 0 -71px;
}

/**
 * tab
**/
.zui-tab:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.zui-tab {
    zoom:1; /* for IE6 IE7 */
    position: relative;
}
.zui-tab li {
	float: left;
	display: inline-block;
	cursor: pointer;
	color: #7E8287;
}
.zui-tab-x {
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 3px solid #E8E9EA;
}
.zui-tab-x li {
	margin-right: 20px;
	position: relative;
	top: 8px;
	padding-bottom: 10px;
}
.zui-tab-x li.act {
	border-bottom: 3px solid #FF6E00;
	color: #FF6E00;
}
.zui-tab-x .arror {
	background: url(img/top_arror.png) 0 0 no-repeat;
	width: 6px;
	height: 3px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 48px;
}

/**
 * 注册
**/
.regist-wrap {
	padding: 0 30px 10px;
	margin: -10px 0 0;
	width: 440px;
}
.regist-wrap .zui-tab-x li {
	font-size: 16px;
	font-weight: bold;
}
.regist-wrap .reg_form {
	padding: 0 15px;
}
.reg_form .reg_table {

}
.reg_form .reg_table td {
	padding: 0 0 8px 0;
	height: 32px;
}
.reg_form .reg_table td label.des {
	text-align: right;
	color: #7E8287;
	display: block;
	padding-right: 10px;
}
.reg_form .ui-button-green {
	margin-top: 20px;
	padding: 2px 60px;
}

/**
 * 登录
**/
.login-wrap .J_ver-wrap {
	position: relative;
}
.login-wrap .J_ver-wrap .J_ver_img {
	position: absolute;
	top: 0;
	left: 180px;
	height: 31px;
	width: 90px;
	overflow: hidden;
	cursor: pointer;
}
.login-wrap .forget-pwd {
	text-decoration: underline;
	position: absolute;
	top: 30px;
	left: 213px;
	font-size: 12px;
}

/**
 * 首页
**/
.glob-top {
	width: auto!important;
	width: 1090px;
	min-width: 1090px;
	background: #222;
	color: #fff;
}
.glob-top .wrap {
	background: #222;
	width: 1000px;
	margin: 0 auto;
	height: 60px;
	line-height: 60px;
}
.glob-top .wrap .logo {
	float: left;
}
.glob-top .wrap .logo:hover {
	text-decoration: none;
}
.glob-top .wrap .logo span {
	font-size: 18px;
	font-weight: bold;
}
.glob-top .wrap .logo .logo-name {
	color: #fff;
	vertical-align: middle;
	font-size: 20px;
}
.glob-top .wrap .logo .logo-name2 {
	color: #FF5701;
	vertical-align: middle;
	margin-left: 10px;
}

.glob-top .wrap .login-bar {
	float: right;
}
.glob-top .wrap .login-bar a {
	color: #fff;
	font-size: 14px;
}
.glob-top .wrap .login-bar a:hover {
	text-decoration: none;
}
.glob-top .wrap .login-bar .login, .glob-top .wrap .login-bar .regist {
	padding-right: 10px;
	margin-right: 13px;
	border-right: 1px solid #fff;
}
.glob-top .wrap .login-bar .login {
	
}
.glob-top .wrap .login-bar .regist {
	
}
.glob-top .wrap .login-bar .maintain {
	
}

/**
 * 主体
**/
.glob-contain {
	background: #F3F3F3;
	width: auto!important;
	width: 1090px;
	min-width: 1090px;
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
	padding-bottom: 50px;
}
.glob-contain .wrap {
	width: 1000px;
	margin: 0 auto;
}
.glob-contain .wrap .advertise {
	width: 100%;
	position: relative;
}
.glob-contain .wrap .advertise img {
	width: 100%;
	z-index: 1;
}
.glob-contain .wrap .advertise .ad-wrap {
	position: absolute;
	bottom: 5px;
	*bottom: 4px;
	left: 0;
	height: 25px;
	line-height: 25px;
	z-index: 9;
	width: 100%;
	border-top: 1px solid #fff;
}
.glob-contain .wrap .advertise .ad-wrap .opac-bg {
	width: 100%;
	height: 25px;
	opacity: .6;
	background: #484A48;
	filter:alpha(opacity=60);
}
.glob-contain .wrap .advertise .ad-wrap .ad-body {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	margin: 0 20px;
}
.glob-contain .wrap .advertise .ad-wrap .ad-body .tit {
	float: left;
	margin-right: 50px;
	cursor: default;
}
.glob-contain .wrap .advertise .ad-wrap .ad-body .tit .iconfont {
	width: 20px;
	height: 25px;
	display: inline-block;
	font-size: 16px;
}
.glob-contain .wrap .advertise .ad-wrap .ad-body ul {
	float: left;
	list-style: disc inside;
	width: 780px;
}
.glob-contain .wrap .advertise .ad-wrap .ad-body ul li {
	float: left;
	height: 25px;
	line-height: 25px;
	width: 200px;
	overflow: hidden;
}
.glob-contain .wrap .advertise .ad-wrap .ad-body ul li a {
	color: #fff;
	width: 160px;
	height: 25px;
	line-height: 25px;
}
.glob-contain .wrap .advertise .ad-wrap .ad-body ul li a span {
	width: 120px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.glob-contain .wrap .advertise .ad-wrap .ad-body ul li a .new {
	background: url(img/icon_new.png) 0 0 no-repeat;
	width: 26px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	cursor: pointer;
}
.glob-contain .wrap .advertise .ad-wrap .ad-body .more {
	float: left;
}
.glob-contain .wrap .advertise .ad-wrap .ad-body .more a {
	color: #fff;
}

.glob-contain .wrap .block-prop, .glob-contain .wrap .block-prod {
	margin-top: 45px;
}
.glob-contain .wrap .block-prop h2, .glob-contain .wrap .block-prod h2 {
	font-size: 18px;
}
.glob-contain .wrap .block-prop ul {
	margin-top: 45px;
}
.glob-contain .wrap .block-prop ul li {
	float: left;
	width: 310px;
	margin-right: 30px;
}
.glob-contain .wrap .block-prop ul li .left {
	float: left;
	width: 110px;
	height: 80px;
	background: url(img/index_icons.png) 0 -75px no-repeat;
}
.glob-contain .wrap .block-prop ul li .right {
	float: left;
	width: 190px;
}
.glob-contain .wrap .block-prop ul .block1 .left {
	background-position: 0 -75px;
}
.glob-contain .wrap .block-prop ul .block2 .left {
	background-position: 0 -158px;
}
.glob-contain .wrap .block-prop ul .block3 .left {
	background-position: 0 -248px;
}
.glob-contain .wrap .block-prop ul .block3 {
	margin-right: 0;
}
.glob-contain .wrap .block-prop ul li .right h3 {
	font-size: 16px;
	color: #000;
	font-weight: bold;
	margin-bottom: 8px;
}
.glob-contain .wrap .block-prop ul li .right div {
	line-height: 22px;
}

.glob-contain .wrap .block-prod {
	position: relative;
}
.glob-contain .wrap .block-prod .prod-wap {
	height: 240px;
}
.glob-contain .wrap .block-prod .prod-wap .prod-list {
	width: 100%;
	height: 220px;
	margin-top: 20px;
}
.glob-contain .wrap .block-prod .prod-wap .prod-list li {
	float: left;
	width: 190px;
	height: 60px;
	background: #fff;
	margin: 0 20px 20px 0;
	padding: 20px;
}
.glob-contain .wrap .block-prod .prod-wap .prod-list li .left {
	float: left;
	width: 70px;
	cursor: pointer;
}
.glob-contain .wrap .block-prod .prod-wap .prod-list li .right {
	float: left;
	width: 120px;
	overflow: hidden;
	height: 60px;
	cursor: pointer;
}
.glob-contain .wrap .block-prod .prod-wap .prod-list li a:hover {
	text-decoration: none;
}
.glob-contain .wrap .block-prod .prod-wap .prod-list li .right h4 {
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.glob-contain .wrap .block-prod .prod-wap .prod-list li .right div {
	word-wrap:break-word;
	word-break: break-all;
	height: 40px;
	color: #4D4D4D;
}
.glob-contain .wrap .block-prod .prod-wap .slidesjs-navigation {
	background: url(img/arrow.png) 0 0 no-repeat;
	width: 37px;
	height: 74px;
	display: block;
	position: absolute;
	left: -50px;
	top: 120px;
}
.glob-contain .wrap .block-prod .prod-wap .slidesjs-previous {
	
}
.glob-contain .wrap .block-prod .prod-wap .slidesjs-next {
	left: 1000px;
	background-position: 0 -74px;
}
.glob-contain .wrap .block-prod .prod-wap .slidesjs-pagination {
	display: none;
}

/**
 * 公告
**/
.glob-contain .wrap .glob-left {
	float: left;
	width: 200px;
}
.glob-contain .wrap .notice-wrap {
	width: 140px;
}
.glob-contain .wrap .notice-wrap .noticeRole {
	position: relative;
	border-right: 1px solid #D1D1D1;
	padding: 60px 0;
}
.glob-contain .wrap .notice-wrap .noticeRole .notice-contain {
	height: 357px;
	overflow: hidden;
}
.glob-contain .wrap .notice-wrap .noticeRole .notice-contain ul {
	padding-right: 20px;
}
.glob-contain .wrap .notice-wrap .noticeRole .notice-contain ul li {
	text-align: center;
	border-bottom: 1px solid #D1D1D1;
	padding: 15px 20px;
}
.glob-contain .wrap .notice-wrap .noticeRole .notice-contain ul li a {
	color: #000;
}
.glob-contain .wrap .notice-wrap .noticeRole .notice-contain ul li a:hover {
	text-decoration: none;
}
.glob-contain .wrap .notice-wrap .noticeRole .notice-contain ul li a p {
	font-size: 14px;
	margin-top: 10px;
}
.glob-contain .wrap .notice-wrap .noticeRole .slidesjs-navigation {
	position: absolute;
	left: 25px;
	background: url(img/arror_x.png) 0 0 no-repeat;
	display: block;
	width: 68px;
	height: 34px;
}
.glob-contain .wrap .notice-wrap .noticeRole .slidesjs-previous {
	top: 10px;
}
.glob-contain .wrap .notice-wrap .noticeRole .slidesjs-next {
	background-position: 0 -34px;
	bottom: 0;
}
.glob-contain .wrap .notice-wrap .noticeRole .curBlock {
	display: block;
	position: absolute;
	right: -1px;
	top: 0;
	background: url(img/left_arrow.png) 0 0 no-repeat;
	width: 8px;
	height: 118px;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

.glob-contain .wrap .glob-right {
	float: left;
	width: 770px;
	margin-left: 30px;
}
.glob-contain .wrap .glob-right h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.glob-contain .wrap .notice-wrap-r {
	float: left;
	width: 810px;
	min-height: 520px;
	margin-left: 50px;
}
.glob-contain .wrap .notice-wrap-r .data-table .sender {
	color: #2867C0;
}
.glob-contain .wrap .notice-wrap-r .noticeContent {
	width: 245px;
	display: block;
}

.glob-contain .wrap .prod-wrap {
	background: #fff;
}
.glob-contain .wrap .prod-wrap .prod-icon {
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #D4D4D4;
	margin: 0 10px 20px;
}
.glob-contain .wrap .prod-wrap .prod-icon p {
	font-size: 14px;
	color: #000;
	line-height: 40px;
}
.glob-contain .wrap .prod-wrap .prod-icon .ui-button {
	border-radius: 20px;
	padding: 2px 28px;
}
.glob-contain .wrap .prod-wrap .menu-list {
	margin: 0 10px 40px;
	overflow: hidden;
}
.glob-contain .wrap .prod-wrap .menu-list dl {
	padding: 0 23px;
}
.glob-contain .wrap .prod-wrap .menu-list dl dd {
	margin: 0 0 10px;
}
.glob-contain .wrap .prod-wrap .menu-list dd .item {
	cursor: pointer;
}
.glob-contain .wrap .prod-wrap .menu-list dd .item .icon-open-close {
	background: url(img/open_close.png) 0 0 no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-right: 10px;
}
.glob-contain .wrap .prod-wrap .menu-list dd .item i.close {
	background-position: -14px 0;
}
.glob-contain .wrap .prod-wrap .menu-list dd .item span {
	vertical-align: middle;
	font-size: 14px;
	color: #000;
	line-height: 32px;
}
.glob-contain .wrap .prod-wrap .menu-list dd ul {
	
}
.glob-contain .wrap .prod-wrap .menu-list dd ul li {
	
}
.glob-contain .wrap .prod-wrap .menu-list dd ul li a {
	margin-left: 32px;
	color: #000;
}
.glob-contain .wrap .prod-wrap .menu-list dd ul li a.cur, .glob-contain .wrap .prod-wrap .menu-list dd ul li a:hover {
	color: #08c;
}
.glob-contain .wrap .prod-wrap-r {

}
.glob-contain .wrap .prod-wrap-r .J_prod_conten {
	
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide {
	position: relative;
	margin-bottom: 20px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide .slidesjs-navigation {
	position: absolute;
	background: url(img/arror_x.png) 0 0 no-repeat;
	display: block;
	width: 34px;
	height: 68px;
	top: 80px;
	z-index: 99;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide .slidesjs-previous {
	left: 25px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide .slidesjs-next {
	right: 25px;
	background-position: -33px 0;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide .slidesjs-pagination {
	position: absolute;
	bottom: 6px;
	right: 100px;
	z-index: 99;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide .slidesjs-pagination li {
	float: left;
	padding-right: 3px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide .slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background: url(img/pagination.png) 0 0 no-repeat;
	float: left;
	overflow: hidden;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide .slidesjs-pagination li a.active,
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide .slidesjs-pagination li a:hover.active {
	background-position: 0 -13px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .J_slide .slidesjs-pagination li a:hover {
	background-position: 0 -26px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container {
	/*margin-top: 20px;*/
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container h2 {
	font-size: 20px;
	font-weight: normal;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container dl {
	margin: 30px 0 0 40px;
	font-size: 14px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container dl dt {
	width: 40px;
	overflow: hidden;
	float: left;
	line-height: 32px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container dl dd {
	line-height: 32px;
	width: 690px;
	float: left;
}

.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .box {
	padding: 20px 60px 20px 20px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #D4D4D4;
	font-size: 14px;
	margin-bottom: 20px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .box .prod_table {
	
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .box .prod_table td {
	height: 32px;
	line-height: 32px;
	vertical-align: top;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .box .prod_table td .des {
	text-align: right;
	display: block;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .box .prod_table td span {
	margin-left: 10px;
	display: inline-block;
	word-wrap:break-word;
	word-break: break-all;
}

.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block {
	width: 370px;
	margin: 0 20px 40px 0;
	float: left;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block.right {
	margin-right: 0;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .head {
	position: relative;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .head h2 {
	display: inline-block;
	width: 250px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	cursor: default;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .head .ui-button {
	border-radius: 20px;
	border: 1px solid #d5d5d5;
	position: absolute;
	right: 0;
	top: 0;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .head .ui-button span {
	color: #F67823;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .head .ui-button:hover {
	background: #F67823;
	border: 1px solid #F67823;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .head .ui-button:hover span {
	color: #fff;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list {
	width: 100%;
	height: 300px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #D4D4D4;
	border-radius: 5px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list li {
	padding: 6px 8px;
	color: #000;
	border-bottom: 1px solid #E3E3E3;
	position: relative;
	width: 100%;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list li .icon {
	background: url(img/fenbao.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list li .check {
	width: 26px;
	height: 26px;
	background-position: 0 -42px;
	cursor: pointer;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list li .checked {
	background-position: 0 -71px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list li .logo {
	background: url(img/prod_logo.png) 0 0 no-repeat;
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list li .download {
	background: url(img/download.png) 0 0 no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	right: 10px;
	*right: -10px;
	top: 13px;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list li .name {
	margin: 0 10px 0 5px;
	vertical-align: middle;
	width: 80px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display: inline-block;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list li .num {
	color: #F67823;
	margin: 0 5px 0 10px;
	vertical-align: middle;
}
.glob-contain .wrap .prod-wrap-r .J_prod_conten .container .block .list li .des {
	width: 118px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display: inline-block;
	vertical-align: middle;
}

/**
 * 个人中心
**/
.mycenter {
	font-size: 14px;
}
.mycenter h2 {
	font-size: 20px;
	font-weight: normal;
}
.mycenter .contain {
	margin-top: 20px;
	border: 1px solid #D4D4D4;
	background: #fff;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 30px;
}
.mycenter .contain .user-info {
	padding: 20px 45px 25px;
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 20px;
}
.mycenter .contain .reg_table td {
	height: 28px;
	line-height: 28px;
}
.mycenter .contain .reg_table td .username {
	float: left;
	width: 100px;
	overflow: hidden;
}
.mycenter .contain .reg_table td .username-inp {
	width: 80px;
	float: left;
	padding: 4px 9px;
}
.mycenter .contain .reg_table td label {
	display: block;
	text-align: right;
	padding-right: 15px;
}
.normalA {
	border: 1px solid #D4D4D4;
	height: 26px;
	padding: 0 8px;
	line-height: 26px;
	background: #F0F0F0;
}
.normalA:hover {
	text-decoration: none;
	background: #F9F9F9;
}
.normalA:active {
	background: #F4F4F4;
}
.normalA span {
	color: #767B80;
}
.mycenter .contain .reg_table td .normalA {
	float: right;
}
.mycenter .contain .role-info {
	padding: 5px 45px 25px;
}
.mycenter .contain .role-info h4 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 20px;
}
.mycenter .contain .role-info ul li {
	float: left;
	height: 90px;
	background: #F3F3F3;
	margin-right: 20px;
	overflow: hidden;
	padding: 15px;
	margin-bottom: 20px;
}
.mycenter .contain .role-info ul li .left {
	text-align: center;
	float: left;
	margin-right: 30px;
}
.mycenter .contain .role-info ul li .left p {
	line-height: 35px;
	width: 80px;
	overflow: hidden;
}
.mycenter .contain .role-info ul li .right {
	float: left;
}
.mycenter .contain .role-info ul li .right dl {
	float: left;
	margin-right: 30px;
}
.mycenter .contain .choserole {
	padding: 20px 45px 25px;
}
.mycenter .contain .choserole ul, .mycenter .contain .choserole .fn-va-top {
	padding-top: 20px;
}
.mycenter .contain .choserole ul li {
	float: left;
	width: 130px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.mycenter .contain .reg_table td .ui-button {
	padding: 0 70px;
	margin-top: 30px;
}
.mycenter .head {
	position: relative;
}
.mycenter .head .ui-button {
	border-radius: 20px;
	position: absolute;
	right: 140px;
	top: 0;
	font-weight: normal;
}
.mycenter .head .ui-button.asia {
	border-radius: 20px;
	border: 1px solid #d5d5d5;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: normal;
}
.mycenter .head .ui-button.asia span {
	color: #F67823;
}
.mycenter .head .ui-button.asia:hover {
	background: #F67823;
	border: 1px solid #F67823;
}
.mycenter .head .ui-button.asia:hover span {
	color: #fff;
}
.his_tbl {

}
.his_tbl p {
	padding-left: 40px;
	text-align: left;
}
.his_tbl p span {
	color: #457BC8;
}

/**
 * 后台管理中心
**/
.managePage {

}
.glob-contain .managePage .prod-wrap .menu-list {
	margin: 30px 10px 40px;
}
.search_wrap .ui-input {
	width: 165px;
}
/**
 * 下拉框优化
**/
.sod_select {
	width: 185px;
	*width: 165px;
	vertical-align: middle;
}
.sod_select .sod_list_wrapper, .sod_select .sod_list {
	width: 185px;
	*width: 185px;
}
.approve {
	padding: 10px 20px;
}

.approve .data-table tbody tr td .pdes span ,.T_approve_wrap tbody tr td .pdes span {
	color: #08c;
	margin-left: 5px;
}
.approve .data-table tbody tr td .iconfont {
	color: #B0B0B0;
	font-size: 14px;
	margin-right: 5px;
}
.approve .data-table table tr th, .approve .data-table table tr td {
	text-align: left;
}
.approve .data-table tbody tr td .split {
	font-style: normal;
}
.T_approve_wrap table td {
	padding: 12px 9px 12px;
	vertical-align: top;
}
.T_approve_wrap table td .ui-textarea {
	width: 330px;
}
/**
 * 产品管理
**/
.prodManage .tool-bar {
	margin: 20px 0;
}
.T_addProd {

}
.T_addProd .ui-textarea {
	width: 230px;
	border-radius: 5px;
}
.T_addProd .ui-textarea:focus {
	border-radius: 0;
}
.T_addProd .zui_check_list {
	width: 360px;
}
.T_addProd .zui_check_list li {
	float: left;
	width: 90px;
}
.T_addProd .ui-input {
	width: 232px;
}
.T_addProd td {
	padding: 6px 0;
}
.T_addProd td label {
	display: inline-block;
	text-align: right;
	margin-left: -10px;
	width: 100%;
}
.T_addProd td .ui-button {
	margin-top: 10px;
}
.prodManage .prod_author p {
	height: 28px;
	line-height: 28px;
	margin-left: 10px;
}
.detail_wrap {
	
}
.detail_wrap .detail_table {
	color: #000;
}
.detail_wrap .detail_table td {
	border: 1px solid #E7E7EB;
	padding: 5px 10px;
	word-wrap: break-word;
	word-break: break-all;
}
.detail_wrap .detail_table td.des {
	background: #f5f5f5;
}
.detail_wrap .detail_table td label {
	margin-left: 0;
}

#J_docManage .data-table {
	width: 550px;
}
#J_docManage .tool-bar {
	margin-bottom: 10px;
}
#J_docManage .add_doc_ret {
	border: 1px solid #ccc;
	padding: 20px 10px;
}
#J_docManage .add_doc_ret .left {
	width: 130px;
}
#J_docManage .add_doc_ret .right {
	width: 400px;
	overflow: hidden;
}
#J_docManage .add_doc_ret .right p {
	margin-bottom: 10px;
}
#J_docManage .add_doc_ret .right label {
	display: inline-block;
	width: 80px;
	text-align: right;
}
#J_docManage .add_doc_ret .right .ui-textarea {
	width: 250px;
	vertical-align: top;
	border-radius: 5px;
	border-color: #DFDFDF;
}
#J_docManage .add_doc_ret .ui-button-green {
	margin-top: 10px;
	width: 75px!important;
}